.container{
    background: lightblue;
}

.row:nth-child(2){
    background: lightcoral;
}

.row:last-child{
    background: yellow;
}

.row div{
    padding: 20px 10px;
    border: 1px solid;
}